@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&family=Playfair+Display:wght@700&display=swap");
html {
  font-size: 16px;
}
$primary-brand-color: #10375c;
$primary-brand-color-120: #0d2c4a;
$secondary-brand-color: #ff5722;
$secondary-brand-color-120: #dd2c00;
$black-color: #222831;
$gray-color-1: #9a9a9a;
$gray-color-3: #dfdfdf;
$gray-color-4: #f8f8f8;
$white-color: #fff;

$logo-font: "Playfair", Times, serif;
$heading-font: "Lora", Times, serif;
$plain-font: "Lato", Geneva, Tahoma, sans-serif;

%flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

%primary-brand-color {
  color: $primary-brand-color;
}

%primary-brand-color-background {
  background-color: $primary-brand-color;
  color: $white-color;
}

%primary-brand-color-120 {
  color: $primary-brand-color-120;
}

%secondary-brand-color {
  color: $secondary-brand-color;
}

%secondary-brand-color-background {
  background-color: $secondary-brand-color;
  color: $white-color;
}

%secondary-brand-color-120 {
  color: $secondary-brand-color-120;
}

%black-color {
  color: $black-color;
}

%gray-color-1 {
  color: $gray-color-1;
}

%gray-color-3 {
  color: $gray-color-3;
}

%gray-color-4 {
  color: $gray-color-4;
}

%white-color {
  color: $white-color;
}

%text-decoration-none {
  text-decoration: none;
}

%flex-nowrap {
  flex-wrap: nowrap;
}

%heading-font {
  font-family: $heading-font;
  font-weight: 700;
  color: $primary-brand-color;
}

%transition {
  transition: all 0.5s;
}

// ========================== Column system ========================

%columns-3-1110 {
  width: 22.97%;
}

%columns-4-1110 {
  width: 31.53%;
}

%columns-5-1110 {
  width: 40.09%;
}

%columns-6-1110 {
  width: 48.64%;
}

%columns-8-1110 {
  width: 65.76%;
}

%margin-left-1110 {
  margin-left: 2.7027%;
}

%margin-right-1110 {
  margin-right: 2.7027%;
}

.columns-3-1110 {
  width: 22.97%;
}

.columns-4-1110 {
  width: 31.53%;
}

.columns-5-1110 {
  width: 40.09%;
}

.columns-6-1110 {
  width: 48.64%;
}

.columns-8-1110 {
  width: 65.76%;
}

.margin-left-1110 {
  margin-left: 2.7027%;
}

.margin-right-1110 {
  margin-right: 2.7027%;
}

// ========================== Media request ========================

@media screen and (max-width: 1440px) {
  %max-width-1440 {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 11.458vw;
    padding-right: 11.458vw;
  }
  header nav li {
    margin-right: 2.777vw;
  }
  .logo {
    margin-right: 6.944vw;
  }
}

@media screen and (min-width: 1441px) {
  %max-width-1440 {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
  header nav li {
    margin-right: 40px;
  }
  .logo {
    margin-right: 100px;
  }
}

// ========================== Common style ===================

body {
  font-family: $plain-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading-font;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.2rem;
}

img {
  display: block;
}

// ========================== hedear ========================

header {
  @extend %max-width-1440;
  font-weight: 700;
  font-size: 1rem;
  align-items: baseline;
}

.logo {
  font-family: $logo-font;
  font-size: 1.7rem;
  font-weight: 700;
  @extend %primary-brand-color;
}

header {
  padding-top: 60px;
  @extend %flex-nowrap;

  @extend %flex-space-between;
  @extend %max-width-1440;

  nav {
    ul {
      @extend %flex-space-between;
      max-width: 565px;
      justify-content: center;
    }
    a {
      @extend %black-color;
      @extend %text-decoration-none;
      padding: 5px 0;
      display: block;
    }
    a:hover {
      @extend %secondary-brand-color;
      @extend %transition;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

.login {
  width: 196px;
  @extend %flex-space-between;
  justify-content: right;
  @extend %flex-nowrap;
}

.login a {
  @extend %secondary-brand-color;
  @extend %text-decoration-none;
  padding: 12px 24px;
}

.login a:hover {
  @extend %secondary-brand-color-background;
  @extend %white-color;
  box-shadow: 0px 4px 16px 0px rgba(255, 87, 34, 0.32);
  @extend %transition;
}

@media screen and (max-width: 660px) {
  header,
  .login {
    flex-wrap: wrap;
  }

  .logo {
    order: 1;
  }

  nav {
    order: 3;
    ul {
      max-width: 100%;
      justify-content: space-between;
    }
  }

  .login {
    order: 2;
  }
}

// ========================== hero_section ========================

.hero_section {
  @extend %max-width-1440;
  padding-top: 57px;
}

.rubric {
  font-size: 1.25rem;
  padding-right: 88px;
  background: right 15px no-repeat url(../images/bar.svg);
}

.hero_section .container {
  @extend %flex-space-between;
  margin-top: 15px;

  h1 {
    font-size: 3.21rem;
    width: 59.9099%;
    line-height: 4.16rem;
    span {
      @extend %secondary-brand-color-120;
    }
  }

  p {
    width: 34.5%;
    font-size: 1.27rem;
    line-height: 1.875rem;
    padding-top: 10px;
  }
}

.slider {
  position: relative;
  margin-top: 34px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  img {
    display: block;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .indicator {
    position: absolute;
    bottom: 37px;
    width: 100%;
    height: 5px;

    ul {
      @extend %flex-space-between;
      justify-content: center;
    }

    li {
      margin-right: 4px;
    }

    li:last-child {
      margin-right: 0;
    }

    img {
      box-shadow: none;
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero_section .container {
    flex-direction: column;
    h1 {
      font-size: 3rem;
      line-height: normal;
    }

    h1,
    p {
      width: 100%;
    }
  }
}

// ========================== our_space_section ========================

.our_space_section {
  @extend %max-width-1440;
  padding-top: 114px;
  align-items: stretch;

  .container {
    @extend %flex-space-between;

    .arrow-nav {
      @extend %columns-3-1110;
      align-self: flex-end;
    }
  }

  .title {
    @extend %columns-4-1110;
  }

  .subtitle {
    @extend %columns-5-1110;
    @extend %gray-color-1;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .nav-slider {
    margin-top: 53px;
  }
}

.arrow-nav {
  @extend %flex-space-between;
  @extend %flex-nowrap;
  justify-content: flex-end;
  img {
    display: inline-block;
    margin-left: 23px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 850px) {
  .our_space_section {
    .title {
      width: 31.5%;
    }
    .subtitle {
      width: 65.76%;
    }
    .arrow-nav {
      margin-left: -23px;
      margin-top: 10px;
      padding-left: 34.23%;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 600px) {
  .our_space_section {
    .container {
      .title,
      .subtitle,
      .arrow-nav {
        width: 100%;
      }

      .arrow-nav {
        justify-content: flex-end;
      }
    }
  }
}

// ========================== space-cards ========================

.space-cards {
  margin-top: 53px;

  p {
    display: block;
    margin-top: 25px;
    font-size: 1.25rem;
    text-align: center;
  }
}

.space {
  @extend %columns-4-1110;
}

.space-img {
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  .chevron {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 72px;
    background: right center no-repeat url(../images/chevron-orange-bg.svg)
      $secondary-brand-color;
    vertical-align: middle;
    @extend %white-color;
    padding-right: 72px;
    @extend %flex-space-between;
    align-items: center;

    a {
      padding-left: 55px;
      @extend %white-color;
      @extend %text-decoration-none;
      font-size: 1.125rem;
    }
  }
}

.space-card-blue {
  background: right top url(../images/scratches.svg) no-repeat
    $primary-brand-color;
  min-height: 42%;
  @extend %white-color;
  text-align: center;

  h3 {
    @extend %white-color;
    font-size: 2rem;
    margin-top: 150px;
    font-weight: 400;
    padding: 0 10px;
  }

  p {
    margin: 14px 55px 100px;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.space-card-blue::before {
  content: "";
  display: block;
  width: 92%;
  height: 98%;
  position: absolute;
  top: 20px;
  left: 4%;
  z-index: -1;
  filter: blur(20px);
  background: rgba(16, 55, 92, 0.3);
}

.nav-slider {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  div {
    display: block;
    position: relative;
    width: 160px;
    height: 5px;
    background-color: $gray-color-3;

    img {
      position: absolute;
      left: 0;
    }
  }

  p {
    font-size: 1rem;
    @extend %black-color;
    margin-top: 10px;
  }

  .current {
    font-size: 1.125rem;
  }

  .total {
    @extend %gray-color-1;
  }
}

@media screen and (max-width: 1200px) {
  .space-card-blue {
    h3 {
      margin-top: 25%;
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    margin-bottom: -3%;
  }

  .space {
    width: 48.64%;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-bottom: 5%;
  }

  .space {
    width: 100%;
    margin-bottom: 5%;
  }
}

// ========================== why-frispes-section ========================

.why-frispes-section {
  @extend %max-width-1440;

  .container {
    @extend %flex-space-between;
    margin-top: 119px;
  }

  .our-support {
    @extend %columns-6-1110;
    @extend %flex-space-between;
    align-content: space-around;

    div {
      width: 47.2222%;
    }

    h3 {
      font-size: 2rem;
      font-weight: 400;
      padding-left: 65px;
    }

    p {
      font-size: 1rem;
      @extend %gray-color-1;
      padding-left: 65px;
      margin-top: 12px;
    }

    .meeting-rooms {
      background: left top no-repeat url(../images/meeting-room.svg);
    }
    .circus {
      background: left top no-repeat url(../images/circus.svg);
    }
    .flag {
      background: left top no-repeat url(../images/flag.svg);
    }
    .internet {
      background: left top no-repeat url(../images/wifi.svg);
    }
    .user {
      background: left top no-repeat url(../images/user.svg);
    }
    .users {
      background: left top no-repeat url(../images/users.svg);
    }
  }

  .why-frispes {
    @extend %columns-6-1110;
    @extend %primary-brand-color-background;
    @extend %white-color;
    padding-top: 59px;
    padding-bottom: 54px;

    span,
    p,
    h2 {
      margin-left: 54px;
      margin-right: 54px;
    }

    h2 {
      @extend %white-color;
      margin-top: 13px;
    }

    p {
      line-height: 1.875rem;
      margin-top: 23px;
      font-size: 1.25rem;
    }

    .rubric {
      background: right center no-repeat url(../images/bar-white.svg);
    }
  }
}

@media screen and (max-width: 1035px) {
  .why-frispes-section {
    .why-frispes {
      padding-top: 40px;
      padding-bottom: 35px;

      span,
      p,
      h2 {
        margin-left: 40px;
        margin-right: 40px;
      }

      h2 {
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .why-frispes-section {
    .our-support,
    .why-frispes {
      width: 100%;
    }

    .why-frispes {
      margin-top: 20px;
    }

    .our-support {
      margin-bottom: -20px;
    }

    .our-support > div {
      width: 170px;
      margin-bottom: 20px;
    }
  }
}

// ========================== facilities-section ========================

.facilities-section {
  @extend %max-width-1440;
  margin-top: 118px;

  h2 {
    width: 50%;
    margin-top: 10px;
  }

  .container {
    @extend %flex-space-between;
    margin-top: 56px;

    .menu {
      @extend %columns-4-1110;
      font-weight: 700;
      font-size: 1.25rem;

      li {
        display: block;
        // height: 72px;
        width: 83.71%;
      }

      a {
        @extend %text-decoration-none;
        @extend %black-color;
        display: block;
        padding: 26px;
        position: relative;
      }

      a:hover,
      .selected {
        @extend %secondary-brand-color-background;
        @extend %white-color;
        position: relative;
        @extend %transition;
      }

      a:hover::after,
      .selected::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        filter: blur(20px);
        background: rgba(255, 87, 34, 0.32);
        position: absolute;
        top: 10px;
        left: 0;
        z-index: -1;
        @extend %transition;
      }
    }

    .img {
      @extend %columns-8-1110;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .facilities-section {
    h2 {
      width: 85%;
    }

    .container {
      .menu {
        width: 22.97%;

        li {
          a {
            padding: 10%;
          }
        }
      }

      .img {
        width: 74.41%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .facilities-section {
    h2 {
      width: 100%;
    }

    .container {
      margin-top: 30px;
      .menu {
        width: 100%;

        ul {
          display: flex;
          flex-wrap: wrap;
        }

        li {
          width: auto;

          a {
            padding: 10px;
          }
        }
      }

      .img {
        width: 100%;
      }
    }
  }
}
// ============================= Gallary section ===============================

.gallary-section {
  margin-top: 118px;

  .container {
    @extend %max-width-1440;
    // z-index: 2;
    margin-bottom: -205px;
    position: relative;

    .gallary-title {
      margin-left: 55.31%;
      display: flex;
      flex-direction: column;
    }

    h2 {
      margin-top: 10px;
    }

    .arrow-nav {
      justify-content: flex-start;
      margin-left: 0;
      margin-top: 40px;

      img {
        margin-left: 0;
        margin-right: 23px;
      }
    }
  }

  .gallery {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 42.08%;
    z-index: 0;

    img {
      width: 100%;
      display: inline-block;
    }

    .first {
      margin-left: -8.5%;
    }

    .image {
      width: 30.9%;
    }

    .preview {
      width: 24.3%;
    }

    .preview,
    .image {
      margin-right: 2.08%;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 1200px) {
  .gallary-section {
    .container {
      position: static;
      margin-bottom: 0;

      .gallary-title {
        margin-left: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      .first {
        width: 60%;
      }

      .arrow-nav {
        justify-content: flex-end;
        margin-left: 0;
        margin-top: 20px;

        img {
          margin-left: 23px;
          margin-right: 0;
        }
      }
    }

    .gallery {
      margin-top: 50px;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 1030px) {
  .gallary-section .container .first {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .gallary-section {
    .container {
      .gallary-title {
        flex-direction: column;
      }
    }
    .gallery {
      white-space: initial;
      text-align: center;
      .first {
        margin-left: 0;
      }

      .preview,
      .image {
        width: 47%;
        margin: 1%;
      }
    }
  }
}

// ============================= Use Frispes section ===============================

.use-frispes {
  margin-top: 112px;

  h2,
  p {
    text-align: center;
  }

  h2 {
    color: $primary-brand-color-120;
  }

  p {
    @extend %gray-color-1;
    font-size: 1.125rem;
    margin-top: 26px;
  }

  .container {
    @extend %flex-space-between;
    width: 81.6666%;
    margin: 75px auto;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .use-frispes {
    .container {
      justify-content: center;
    }

    img {
      margin: 0 20px;
    }
  }
}

// ============================= Customer reviews section ===============================

.customer-reviews-section {
  margin-top: 123px;

  .container {
    @extend %max-width-1440;
    @extend %flex-space-between;
    align-items: flex-end;

    h2 {
      margin-top: 13px;
      width: 75%;
    }
  }

  .base {
    width: 100%;
    overflow: hidden;
  }

  .customer-reviews {
    width: 100%;
    white-space: nowrap;
    margin-top: 56px;
    display: flex;
    margin-left: 11.45%;
  }

  .review {
    @extend %primary-brand-color-background;
    @extend %white-color;
    width: 30.9%;
    margin-right: 2.08%;
    min-height: 393px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 47px 40px;
      white-space: initial;
      line-height: 1.625rem;
    }

    .customer {
      margin: 0 40px 35px 40px;

      p,
      img {
        display: inline;
      }

      p {
        margin: 0;
        line-height: 1.75rem;

        strong {
          font-size: 1.125rem;
          font-weight: 700;
        }
      }

      img {
        float: left;
        margin-right: 15px;
      }
    }
  }

  .nav-slider {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1030px) {
  .customer-reviews-section {
    .container {
      h2 {
        width: 100%;
      }

      .arrow-nav {
        margin-left: auto;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .customer-reviews-section {
    .customer-reviews {
      flex-wrap: wrap;
      margin-bottom: -20px;
      .review {
        width: 77%;
        min-height: auto;
        margin-bottom: 20px;
      }
    }
  }
}
// ============================= faq section ===============================

@mixin faq-chevron {
  margin-left: -29px;
  left: 50%;
  position: absolute;
  bottom: -22px;
}

@mixin faq-chevrone-shadow {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  right: 10px;
  bottom: -6px;
  z-index: -2;
}

.faq-section {
  @extend %max-width-1440;
  margin-top: 112px;
  text-align: center;

  h2 {
    width: 60%;
    margin: 0 auto;
  }

  .container {
    @extend %flex-space-between;
    margin-top: 54px;

    h4 {
      font-size: 1.625rem;
      font-weight: 400;
      color: black;
      padding: 42px 40px 63px;
      line-height: 2.08rem;
    }

    .box {
      @extend %columns-4-1110;
      position: relative;
      background-color: white;

      img {
        width: 64px;
        height: 48px;
        background: url(../images/chevron-down.svg) center center no-repeat
          $secondary-brand-color;
      }

      .chevron {
        background: url(../images/chevron-down.svg) center center no-repeat
          $secondary-brand-color;
        @include faq-chevron();

        > div {
          position: relative;
          z-index: 1;
        }

        > div::before {
          @include faq-chevrone-shadow();
          filter: blur(12px);
          background-color: rgba(223, 223, 223, 0.7);
        }

        > div:hover::before {
          background-color: rgba(223, 223, 223, 1);
          @extend %transition;
        }
      }
    }

    .box::before {
      content: "";
      display: block;
      width: 103.14%;
      height: 101.75%;
      position: absolute;
      left: -3px;
      top: 4px;
      filter: blur(12px);
      background-color: rgba(223, 223, 223, 0.5);
      z-index: -1;
    }

    .box-selected {
      @extend %secondary-brand-color-background;
      @extend %columns-4-1110;
      position: relative;

      h4 {
        @extend %white-color;
      }

      .chevron {
        background: url(../images/chevron-down.svg) center center no-repeat
          $white-color;
        @include faq-chevron();

        > div::before {
          @include faq-chevrone-shadow();
          filter: blur(17px);
          background-color: rgba(221, 44, 0, 0.24);
        }

        > div:hover::before {
          background-color: rgba(221, 44, 0, 0.4);
          @extend %transition;
        }
      }

      img {
        width: 64px;
        height: 48px;
        background: url(../images/chevron-down-orange.svg) center center
          no-repeat $white-color;
      }
    }
  }

  .more-information {
    margin-top: 70px;
  }
}

.more-information {
  a {
    @extend %secondary-brand-color;
    @extend %text-decoration-none;
    background: url(../images/chevron-orange.svg) right center no-repeat;
    padding: 0 40px 0 30px;
  }

  a:hover {
    background: url(../images/chevron-orange.svg) left center no-repeat;
    @extend %transition;
  }
}

@media screen and (max-width: 890px) {
  .faq-section h2 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .faq-section .container {
    flex-direction: column;
    margin-bottom: -50px;

    .box,
    .box-selected {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}

// ============================= news section ===============================

.news-section {
  @extend %max-width-1440;
  background-color: $gray-color-4;
  margin-top: 45px;
  padding-top: 60px;
  padding-bottom: 96px;

  p {
    color: $gray-color-1;
    line-height: 1.625rem;
  }

  .title {
    @extend %flex-space-between;
    align-items: baseline;

    p {
      display: block;
      text-align: right;
      width: 100%;
    }
  }

  .container {
    @extend %flex-space-between;
    margin-top: 56px;
    margin-bottom: -2.7%;

    h6,
    p {
      padding: 14px 16px 0px;
    }

    img {
      width: 100%;
    }

    .columns-8-1110,
    .columns-4-1110 {
      margin-bottom: 2.7%;
      background-color: white;
    }

    .columns-8-1110:hover,
    .columns-4-1110:hover,
    .selected {
      box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
    }

    .columns-8-1110 {
      @extend %flex-space-between;

      .image {
        background: url(../images/news-1.jpg) center center/cover no-repeat;
        width: 47.9452%;
      }

      .image,
      .news {
        display: inline-block;
      }

      .news {
        width: 52.0547%;

        h3 {
          padding: 32px 32px 0;
          font-size: 2rem;
          color: $black-color;
          line-height: 2.5625rem;
        }

        p {
          padding: 24px 32px 0;
        }

        .author {
          @extend %flex-space-between;
          justify-content: flex-start;
          align-items: center;
          padding: 16px 32px 32px;

          img {
            width: 56px;
            height: 56px;
            margin-right: 23px;
          }

          p {
            padding: 0;
            margin: 0;
            line-height: 1.76rem;

            strong {
              font-size: 1.125rem;
              font-weight: 500;
              @extend %primary-brand-color;
            }
          }
        }
      }
    }

    .columns-4-1110 {
      padding-bottom: 16px;

      h6 {
        font-size: 1.375rem;
        @extend %black-color;
        font-weight: 400;
        line-height: 1.75rem;
      }

      p {
        padding-top: 4px;
      }
    }
  }
}

@media screen and(max-width:768px) {
  .news-section .container {
    .columns-8-1110 {
      width: 100%;
    }
    .columns-4-1110 {
      width: 48.64%;
    }
  }
}
@media screen and(min-width:481px) {
  .big-news-picture {
    display: none;
  }
}

@media screen and(max-width:480px) {
  .news-section .container {
    .columns-4-1110,
    .columns-8-1110 {
      width: 100%;
    }

    .columns-8-1110 {
      flex-direction: row;
      flex-wrap: wrap;

      .image,
      .news {
        width: 100%;
      }

      .big-news-picture {
        display: block;
      }
    }
  }
}

// ============================= footer ===============================

footer {
  @extend %max-width-1440;
  padding-top: 62px;
  padding-bottom: 100px;
  @extend %primary-brand-color-background;
  @extend %white-color;

  a {
    @extend %text-decoration-none;
  }

  a:hover {
    @extend %secondary-brand-color;
    @extend %transition;
  }

  h1,
  h5,
  a {
    @extend %white-color;
  }

  h5 {
    font-family: $plain-font;
    opacity: 50%;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .container {
    @extend %flex-space-between;
    align-items: baseline;
  }

  h1 {
    font-size: 3.25rem;
  }

  li {
    margin-top: 9px;
  }

  p {
    margin-top: 23px;
  }

  li,
  p {
    line-height: 1.625rem;
  }

  p {
    @extend %gray-color-4;
    margin-bottom: 25px;
    opacity: 85%;
  }

  li.email::before {
    content: "E.";
  }

  li.adress::before {
    content: "A.";
  }

  li.phone::before {
    content: "P.";
  }

  li.email,
  li.adress,
  li.phone {
    margin-left: 1.8rem;
  }

  li.email::before,
  li.adress::before,
  li.phone::before {
    margin-left: -1.8rem;
    padding-right: 0.8rem;
    font-weight: 700;
  }

  img {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 30px;
  }

  .columns-8-1110.container {
    margin-top: -30px;
    margin-right: -10px;
  }

  .columns-8-1110.container > div {
    margin-top: 30px;
    margin-right: 10px;
  }
}

@media screen and(max-width:767px) {
  footer {
    .container {
      flex-direction: column;
    }

    .columns-3-1110,
    .columns-8-1110 {
      width: 100%;
    }

    .columns-8-1110.container {
      flex-direction: row;
    }
  }
}
